<header>
    <div class="header-container">
        <div class="container">
            <div class="lang-button">
                <a href="#" id="el-button"></a>
            </div>
            <div class="lang-button">
                <a href="#" id="en-button"></a>
            </div>
            <div class="lang-button">
                <a href="#" id="grc-button"></a>
            </div>
        </div>
        <div id="navpath-section">
            <nav>
                <a id="navpath"></a>
            </nav>
        </div>
        <div id="search-container">
            <input type="text" id="search-input" placeholder="" autocomplete="off">
            <ul id="search-results"></ul>
        </div>
    </div>
</header>
