<div id="header-container">
    <header>
        <div class="header-top">
            <button onclick="toggleSidebar()" class="sidebar-toggle" id="sidebar-toggle">
                ☰
            </button>

            <div class="lang-dropdown">
                <button id="language-toggle"></button>
                <ul id="language-menu"></ul>
            </div>
            
            <div class="site-title">
                <a id="home-btn">Home</a>
            </div>

            <div id="search-container">
                <input type="text" id="search-input" placeholder="Search" autocomplete="off" />
                <ul id="search-results"></ul>
            </div>
        </div>

        

        <nav class="breadcrumbs" id="navpath"></nav>
    </header>
</div>

<div id="sidebar-overlay" class="overlay hidden" onclick="closeSidebar()"></div>
<div id="sidebar" class="sidebar collapsed">
  <div id="tree-container"></div>
</div>
