<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="τίτλος"></title>
    <link rel="stylesheet" href="{{root_relative_prefix}}/style.css">
</head>
<body>
    <div id="header-container"></div>
    <div class="main-section-wrapper">
    <main>
        <section id="{{name_en}}">
            <h2 id="{{name_el}}"></h2>
            <img src="{{root_relative_prefix}}/images/thumbnails/{{name_el}}.png" alt="{{name_el}}" class="tax-page-image" id="{{name_el}}-περιγραφή-εικόνα">
            <div class="description-text">
                <p id="{{name_el}}-περιγραφή"></p>
            </div>
        </section>
        <section id="{{name_en}}-sub>
            <h2 id="υποομάδες"></h2>
            <div class="tax-container">
                {% for subitem in subitems %}
                    <a href="{{subitem.url}}">
                        <div class="tax-subcontainer">
                            <img src="{{root_relative_prefix}}/images/thumbnails/{{subitem.name_el}}.png" alt="{{subitem.name_el}}" class="tax-thumbnail-image">
                            <h3 id="{{name_el}}-{{subitem.name_el}}"></h3>
                        </div>
                    </a>
                {% endfor %}
        </section>
        </main>
</div>

    <footer>
        <p id="footer-name"></p>
    </footer>

    <script 
        id="language-script"
href="{{root_relative_prefix}}/scripts/language.js"
        dict="{{name_en_dir}}/{{name_en}}.json"
        keys="τίτλος,{{name_el}},{{name_el}}-περιγραφή{% for subitem in subitems %},{{name_el}}-{{subitem.name_el}}{% endfor %},υποομάδες"
        galleryLength="0"
    ></script>


 <script href="{{root_relative_prefix}}/scripts/header.js" id="header-script"></script>
<script href="{{root_relative_prefix}}/scripts/navpath.js" id="navpath-script"></script>
</body>
</html>